<div class="rodape">

  <div class="Links">
    <header>
      <h2>Links úteis</h2>
    </header>
    <ul>
      <li><a href="">
          <p>Regras de utilização</p>
        </a></li>
      <li><a href="">
          <p>Suporte</p>
        </a></li>
      <li><a href="">
          <p>Central de ajuda</p>
        </a></li>
      <li><a href="">
          <p>Contato</p>
        </a></li>
    </ul>
  </div>

  <div class="Links">
    <header>
      <h2>Páginas</h2>
    </header>
    <ul>
      <li><a href="">
          <p>Início</p>
        </a></li>
      <li><a href="">
          <p>Campeonatos</p>
        </a></li>
      <li><a href="">
          <p>Resultados</p>
        </a></li>
      <li><a href="">
          <p>Notícias</p>
        </a></li>
      <li><a href="">
          <p>Login/Cadastro</p>
        </a></li>
    </ul>
  </div>

  <img src="assets/img/Logo E-Players_rodapé.svg" alt="logo_rodape">


</div>

<form class="row g-3">
  <div class="col-auto">
    <p>Faça parte do nosso clan, assine nossa newsletter!</p>
    <label for="inputPassword2" class="visually-hidden">E-mail</label>
    <input type="E-mail" class="form-control" id="inputE-mail" placeholder="E-mail">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
  </div>
</form>

<footer class="rodape">

  <div class="redes-sociais">
    <h5>Siga-nos em:</h5>
    <span class="icon-redes">
      <a href="#">
        <img src="assets/img/instagram 1.svg" alt="instagram">
        <img src="assets/img/facebook 1.svg" alt="facebook">
        <img src="assets/img/youtube.svg" alt="youtube">
      </a>
    </span>
  </div>
</footer>