<p class="ofertas"><b>Ofertas</b></p>
<section class="card_ofertas">
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>

</section>

<section class="card_ofertas">
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
  <a href="../pages/Ofertas.html"><img src="assets/img/Card Ofertas.svg" alt="Card"></a>
</section>