.ofertas {
  margin: 20px 185px;
  margin-left: 250px;
  color: aliceblue;
  font-family: "Roboto";
  font-size: 25px;
}

.card_ofertas {
  display: flex;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px;
}
img {
  max-width: 100%;
}
